.lw-container {
    height: 500px;
    background: #1b1b1b;
    color: white;
    position: relative;
}
.left {
    position: absolute;
    width: 50%;
    text-align: center;
}
.left h1 {
    font-size: 200px;
    margin: 50px;
    text-transform: uppercase;
    font-weight: 100;
}
.left h1 span{
    font-weight: 900;
    font-style: italic;
}
.right {
    position: absolute;
    width: 50%;
    right: 0;
}
.right p {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.right p span {
    color: #F8F32B;
    font-weight: 900;
    font-style: italic;
}
.right a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1b1b1b;
    background: white;
    font-weight: 900;
    font-size: 22px;
    padding: 10px;
}