.lw-container {
    height: 500px;
    background: #1b1b1b;
    color: white;
    position: relative;
}
.left {
    position: absolute;
    width: 50%;
    text-align: center;
}
.left h1 {
    font-size: 200px;
    margin: 50px;
    text-transform: uppercase;
    font-weight: 100;
}
.left h1 span{
    font-weight: 900;
    font-style: italic;
}
.right {
    position: absolute;
    width: 50%;
    right: 0;
}
.right p {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.right p span {
    color: #F8F32B;
    font-weight: 900;
    font-style: italic;
}
.right a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1b1b1b;
    background: white;
    font-weight: 900;
    font-size: 22px;
    padding: 10px;
}

@media (max-width: 2391px) and (min-width: 1825px) {
    .left {
        text-align: start;
    }
    .left h1 {
        font-size: 150px;
    }
} 
@media (max-width: 1824px) and (min-width: 1251px) {
    .left {
        text-align: start;
    }
    .left h1 {
        font-size: 100px;
    }
} 
@media (max-width: 1250px) and (min-width: 993px) {
    .left {
        text-align: start;
    }
    .left h1 {
        font-size: 80px;
    }
} 
@media (max-width: 992px) and (min-width: 768px) {
    .lw-container {
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        position: absolute;
        top: 60px;
        text-align: center;
    }
    .right p br {
        display: none;
    }
    .left h1 br {
        display: none;
    }
    .left h1 {
        font-size: 50px;
        margin: 30px;
    }
    .right p {
        font-size: 40px;
        margin-top: 70px;
    }
} 
@media only screen and (max-width: 767px) {
    .lw-container {
        margin-bottom: 100px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        position: absolute;
        top: 60px;
        text-align: center;
    }
    .right p br {
        display: none;
    }
    .left h1 {
        font-size: 50px;
    }
    .right p {
        font-size: 30px;
    }
}