.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.project {
    position: relative;
    height: 380px;
    width: 700px;
    color: white;
    cursor: pointer;
}

.project .desc {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.project h1 {
    margin: 5px 20px;
    font-size: 40px;
}
.project h3 {
    margin: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.project .hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    transition: .5s ease-in-out;
}
.project .hover:hover {
    opacity: .5;
}
@media (min-width: 1907px){
    .projects-container {
        width: 1400px;
    }
}
@media (max-width: 1824px) and (min-width: 1251px) {
    .projects-container {
        height: 100vh;
        align-content: center;
        align-items: center;
    }
    .project {
        
    }
    .project img {
        height: 100%;
    }
    .hover {
        display: none;
    }
} 


@media (max-width: 1250px) and (min-width: 993px) {
    .projects-container {
        height: 2500px;
        align-content: center;
        align-items: center;
    }
    .project {
        
    }
    .project img {
        height: 100%;
    }
    .hover {
        display: none;
    }
} 
@media (max-width: 992px) and (min-width: 768px) {
    .projects-container {
        height: 2500px;
        align-content: center;
        align-items: center;
    }
    .project {
        
    }
    .project img {
        height: 100%;
    }
    .hover {
        display: none;
    }
} 
@media only screen and (max-width: 767px) {
    .projects-container {
        height: 2500px;
        align-content: flex-start;
    }
    .project {
        width: 100%;
        
    }
    .project img {
        width: 100%;
        height: 100%;
    }
    .hover {
        display: none;
    }
}